<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <NuGetLockFilePath>$(MSBuildProjectDirectory)\packages.portable.lock.json</NuGetLockFilePath>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <DebugType>embedded</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\..\artifacts\portable\</PublishDir>
  </PropertyGroup>
</Project>
